<div id="page">
    <div id="page-bgtop">
        <div id="page-bgbtm">

            <div id="sidebar" class="mt-4">
                <ul>
                    <li>
                        <h6 style="margin: 2rem auto 1rem" align="center">Formularios</h6>
                        <ul>
                            <li><a routerLink="/resultados/">Resultado de analisis</a></li>
                            <li><a routerLink="/paciente">Registro de paciente</a></li>
                            <li><a routerLink="/pacientes">Listar pacientes</a></li>
                            <li><a routerLink="/verpaciente">Datos del paciente</a></li>
                            <li><a routerLink="/reportes">Historial clinico</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>